.trackCells {
  min-height: max(200px, 20vh);
  max-height: min(200px, 20vh);
  overflow-y: scroll;
}

.trackCell {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 0 6px 6px 6px;
  padding-bottom: 6px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.trackCell:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.trackCellArtwork {
  width: 34px;
  height: 34px;
  flex: 0 0 34px;
}

.trackCellInfo {
  width: 100%;
  line-height: 1.5;
  margin: 0;
  margin-left: 0.5em;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.trackCellInfoLine {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1px;
}

.trackcellInfoName {
  flex: 1 1 auto;
}

.trackcellInfoTimestamp {
  flex: 0 0 auto;
  color: #999;
}

.trackCellInfo-muted {
  color: #666;
}

.trackCellsAttr {
  margin: 0;
  text-align: right;
}

.lastFmIcon {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/lastfm.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.window {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.topArtistInfo {
  display: flex;
  margin: 8px 0 4px;
}

.topArtistInfo:first-of-type {
  margin-top: 4px;
}

.topArtistHeader {
  margin: 0;
  color: #696969;
}

.topArtistName {
  padding-left: 2px;
  padding-right: 4px;
}

.progressIndicator {
  height: 1.2rem;
}
